<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../static/styles/style.css">
	</head>
	<body>
		<form id=game method="POST">
			<div class="score">
				<p>SCORE : {{score}}</p>				
			</div>
			<div class="grid-container">
					<div class="grid-item">{{grid1}}</div>
					<div class="grid-item">{{grid2}}</div>
					<div class="grid-item">{{grid3}}</div>
					<div class="grid-item">{{grid4}}</div>
					<div class="grid-item">{{grid5}}</div>
					<div class="grid-item">{{grid6}}</div>
					<div class="grid-item">{{grid7}}</div>
					<div class="grid-item">{{grid8}}</div>
					<div class="grid-item">{{grid9}}</div>
					<div class="grid-item">{{grid10}}</div>
					<div class="grid-item">{{grid11}}</div>
					<div class="grid-item">{{grid12}}</div>
					<div class="grid-item">{{grid13}}</div>
					<div class="grid-item">{{grid14}}</div>
					<div class="grid-item">{{grid15}}</div>
					<div class="grid-item">{{grid16}}</div>
			</div>
			<div class="buttons">
				<input type="submit" class="controls" name="control" value="LEFT" >
				<input type="submit" class="controls" name="control" value="UP">
				<input type="submit" class="controls" name="control" value="DOWN">
				<input type="submit" class="controls" name="control" value="RIGHT">
				<input type="submit" class="controls" id="undo" name="control" value="UNDO">				
			</div>	
		</form>
	</body>
</html>